<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--    jQuery需放在bootstrap之前-->
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/community.css">
    <link rel="stylesheet" th:href="@{/css/community.css}">
    <title>社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 .col-md-12 .col-sm-12 .col-xs-12">
            <h2>
                <span class="glyphicon glyphicon-list" aria-hidden="true">
                发现
                </span>
            </h2>
            <hr/>
            <div class="media" th:each="question : ${pagination.questions}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded avatar" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading" th:text="${question.title}"></h3>
                    <h5><span th:text="${question.description}"></span></h5>
                    <span class="text-desc">
                        <span th:text="${question.commentCount}+'个回复·'"></span>
                        <span th:text="${question.viewCount}+'次浏览·'"></span>
                        <span th:text="${#dates.format(question.gmtCreate,'yyyy.MM.dd HH:mm')}"></span>
                    </span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a href="/?page=1" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page=${pagination.page-1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${pagination.pages}" th:class="${pagination.page==page}?'active':''">
                        <a th:href="@{/(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page=${pagination.page+1})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(page=${pagination.totalPage})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 .col-md-12 .col-sm-12 .col-xs-12">
            <h2>问题的解决：</h2>
            <h3>1. 检索</h3>
            如果问题没有研究到一定深度，绝大多数的问题都可以在网上找到答案，可惜现在很多人缺乏检索意识，导致伸手党众多。提高检索技巧一定意义上也可以提升解决问题效率，多用英文检索，多用 google，多了解专业垂直论坛知识。解决问题速度快，缺陷在于问题无法根治。
            <h3>2. 寻找相关书籍阅读 解决问题的最好方式。</h3>
            找到合适的资料，补充相应的知识点和关联知识，安排一定量的练习，在这个过程中不要考虑解决问题本身，已学习的心态完成知识补充，完成后再回头看问题。如果问题仍未解决，说明资料找的不合适或者问题太大知识相差太多，继续找到新的资料重复这个流程，直到缺少的知识被填补完成。解决问题速度慢，但可以彻底解决问题，并且训练出真正核心的解决问题方式。<br>
            <h3>3. 寻找有经验的人讨教</h3>
            如果自信可以描述清楚问题，手头有懂行的人并且对方有义务为自己解答，可以将问题抛出去让更加专业的人来解决。解决问题速度快，但是由于直接拿到了答案，缺少了问题推理的过程，问题不仅无法根治，也不利于长期理解和记忆。
        </div>
    </div>
</div>
</body>
</html>